.bundle
db/*.sqlite3
log/*.log
tmp/*
.sass-cache/

.idea
*.o
*.so
log/*
*.swp
*.swo
*.swn
~*
*.log
*.pid
.DS_Store

.com.apple.timemachine.supported
.rvmrc
atlassian-ide-plugin.xml
config/hupo_configuration.yml
Gemfile.lock
